[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
openai = "*"
requests = "*"
ebooklib = "*"
rich = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.11"
